<%- include('../partials/header') %>
<link rel="stylesheet" href="public/css/style.css">

<!-- Main title for home page-->
<section class="main-title">
  <div class="title-overlay">
    <div class="title-brand">
      <img src="images/Knee down.png" alt="KneeDown Logo" class="title-logo">
      <h1 class="main-title-name" onclick="scrollToWelcome()">Knee Down</h1>
    </div>
  </div>
</section>

<div class="welcome-message" id="welcome">
  <h1>Welcome to Knee Down</h1>
  <p>Get you knee down with us and join a vibrant community with frequent meetups. If there is any motorcycle part you need, Knee down is the place. Need help finding races too compete in, we have frequent events that might satisfy your needs</p>
  <p>Be first on the throttel and last on the brakes!!!</p>
</div>

<section class="upcoming-events" id="upcoming">
  <h2>Upcoming events will be displayed here</h2>
</section>
  
<div class="grid-container">
    <div class="grid-item1">
      <a href="/about">About Us</a>
    </div>
    <div class="grid-item3"></div>
    <div class="grid-item4"></div>
    <div class="grid-item5"></div>
    <div class="grid-item6">
      <div id="events">
        <a href="/events">Events</a>
      </div>
    </div>
    <div class="grid-item7"></div>
    <div class="grid-item8">
      <a href="/contact" id="contact">Contact US</a>
    </div>
    <div class="grid-item9"></div>
    <div class="grid-item11"></div>
  </div>

<script>
    function scrollToWelcome() {
      document.getElementById("welcome").scrollIntoView({ behavior: "smooth" });
    }
</script>

<%- include('../partials/footer') %>