<%- include('../partials/header') %>
<link rel="stylesheet" href="public/css/style.css">

<!-- Main title for home page-->
<section class="main-title">
  <div class="title-overlay">
    <div class="title-brand">
      <img src="images/logo.png" alt="StreetSync Logo" class="title-logo">
      <h1 class="main-title-name" onclick="scrollToWelcome()">StreetSync</h1>
    </div>
  </div>
</section>

<div class="welcome-message" id="welcome">
  <h1>Welcome to StreetSync</h1>
  <p>Your pit stop for everything cars, from community meets and roaring races to street showcases and build diaries. Whether you're a gearhead, tuner, racer, or just love the sound of a turbo spool, you're in the right lane.</p>
  <p>Fuel your passion. Sync with the streets. Let's ride.</p>
</div>

<section class="upcoming-events" id="upcoming">
  <h2>Upcoming events will be displayed here</h2>
</section>
  
<div class="grid-container">
    <div class="grid-item1">
      <a href="/about">About Us</a>
    </div>
    <div class="grid-item3"></div>
    <div class="grid-item4"></div>
    <div class="grid-item5"></div>
    <div class="grid-item6">
      <div id="events">
        <a href="/events">Events</a>
      </div>
    </div>
    <div class="grid-item7"></div>
    <div class="grid-item8">
      <a href="/contact" id="contact">Contact US</a>
    </div>
    <div class="grid-item9"></div>
    <div class="grid-item11"></div>
  </div>

<script>
    function scrollToWelcome() {
      document.getElementById("welcome").scrollIntoView({ behavior: "smooth" });
    }
</script>

<%- include('../partials/footer') %>