<%- include('../partials/header') %>

<h1>Thank You!</h1>

<p>Your message has been received.
    <br>
    We will get back to you as soon as possible.
</p>


<!--
    Redirects to home page after a few seconds 
-->
<script>
    
    setTimeout(() => {
        window.location.href = "/"
    }, 5000)
</script>