<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
    <%- include('../partials/header') %>
</head>
<body class="contact-body">
    <div class="contacts">

        

    <!--
        Posts Contact Details to the backend to be displayed on the terminal    
    -->
    <form method="POST" action="/contact">
        <fieldset>
        <legend>Contact Information</legend>
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        </fieldset>
        <fieldset>
        <legend>Message</legend>
        <textarea name="message" placeholder="Your Message" required></textarea>
        </fieldset>
        <button type="submit">Send</button>
    </form>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>