<%- include('../partials/header') %>

<div class="thank-you-container">
  <div class="thank-you-card">
    <div class="checkmark">✓</div>
    <h1>Thank You!</h1>
    <p>Your message has been successfully received.<br>We'll get back to you as soon as possible.</p>
    <p class="redirect-note">Redirecting to homepage in 5 seconds...</p>
  </div>
</div>

<script>
  setTimeout(() => {
    window.location.href = "/";
  }, 5000);
</script>
