<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-socials">
      <a href="https://discord.com" target="_blank"><i class="fab fa-discord"></i></a>
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
    <p>&copy; <%= new Date().getFullYear() %> Community Portal. All rights reserved.</p>
    <p class="footer-links">
      <a href="/">Home</a> |
      <a href="/events">Events</a> |
      <a href="/about">About</a> |
      <a href="/contact">Contact</a>
    </p>
  </div>
</footer>